.container-fluid-laba {
  padding-top: 9vw;
  padding-left: 26vw !important;
  padding-right: 2vw !important;
  padding-bottom: 60vw !important;
  background: linear-gradient(155.7deg, #f5ded6 -45.88%, #fcf7f9 45.77%, #fcf1f7 117.72%);
}
.box-table-laba {
  padding: 35px 50px 20px 50px;
  width: 910px;
  height: 1750px;
  background: #ffffff;
  box-shadow: 0px 2px 3px 2px rgb(96 33 38 / 2%), 0px 4px 12px 4px rgb(155 0 41 / 8%);
  border-radius: 10px;
}
.title-laba {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #1a1e2b;
}
.isi-laba {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;

  color: #1a1e2b;
}

.hasil-laba {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1a1e2b;
}
